.wrapper {
  position: relative;
}

.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f8f9fa;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  th,
  td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
  }

  th {
    background-color: #f1f1f1;
  }

  td {
    max-width: 250px;
    word-break: break-all;
  }

  tbody {
    display: block;
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background-color: #dedede;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a8a8a8;
    }
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 50px;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 250px;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 150px;
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 250px;
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 150px;
}

.scroll {
  & td:nth-child(5) {
    width: 145px;
  }
}

.loading {
  background-color: #d2d1d1;
  opacity: 0.4;
  min-height: 200px;
}

.noContent {
  height: 200px;
  margin: 0 auto;
  text-align: center !important;
}
